# Entorno virtual
.venv/

# Cache / PyCharm
__pycache__/
.idea/

# Archivos sensibles
credentials.json
config.json
*.db
data/
clientes_unicos.txt

# Drivers Selenium
drivers/
msedgedriver*
chromedriver*

# Archivos temporales
*.log
*.tmp
